<section class="min-h-screen bg-gray-50 py-8 antialiased dark:bg-gray-900 md:py-12">
    <div class="py-24 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                MyAttending Events
            </h2>
        </div>

        @if (loading) {
        <div class="flex flex-col justify-center items-center py-8 px-4 mx-auto max-w-2xl lg:py-16">
            <app-loading-indicator></app-loading-indicator>
        </div>
        }

        @if (errorMessage && !loading) {
        <div class="flex justify-center mx-auto max-w-2xl lg:py-16">
            <app-error-alert [errorMessage]="errorMessage" (dismissClick)="setErrorDismissed($event)"></app-error-alert>
        </div>
        }

        @if (!registeredEvents.length && !errorMessage && !loading) {
        <app-info-alert [dismissible]="false" [infoTitle]="'Events Info'"
            [infoMessage]="'You have no registered event(s) at the moment, please register on events!'"></app-info-alert>
        } @else {
        <div class="mb-4 grid gap-4 sm:grid-cols-2 md:mb-8 lg:grid-cols-3">
            @for (event of registeredEvents; track $index) {
            <app-admin-event-registered [registeredEvent]="event"></app-admin-event-registered>
            }
        </div>
        }

    </div>

</section>