<section class="min-h-screen bg-white dark:bg-gray-900">
    <div class="py-24 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
            <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Events
            </h2>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
                We use an agile approach to test assumptions and connect with the needs of your audience early and
                often.
            </p>
        </div>
        @if (loading) {
        <div class="flex justify-center">
            <app-loading-indicator></app-loading-indicator>
        </div>
        }

        @if (errorMessage && !loading) {
        <app-error-alert [errorMessage]="errorMessage" (dismissClick)="setErrorDismissed($event)"></app-error-alert>
        }

        @if (!events.length && !errorMessage && !loading) {
        <app-info-alert [dismissible]="false" [infoTitle]="'Events Info'"
            [infoMessage]="'There are no events available at the moment, please try again later!'"></app-info-alert>
        } @else {
        <div class="grid gap-8 lg:grid-cols-2">
            @for (event of events; track $index) {
            <app-public-event-card [event]="event"></app-public-event-card>
            }
        </div>
        }
    </div>
</section>