<section class="bg-white dark:bg-gray-900">
    @if (loading && !errorMessage) {
    <div class="h-screen flex flex-col justify-center items-center py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <app-loading-indicator></app-loading-indicator>
    </div>
    }

    @if(errorMessage) {
    <div class="h-screen flex flex-col justify-center items-center py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <app-error-alert [errorMessage]="errorMessage" (dismissClick)="dismissError($event)"></app-error-alert>
    </div>
    }

    @if (!loading || !errorMessage && event?.eventModel) {
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update event</h2>
        <app-event-form [event]="event?.eventModel" [submitting]="submitting" (eventFrmData)="submit($event)"
            (dismissed)="dismiss($event)">
        </app-event-form>
    </div>
    }

    @if(event?.eventModel?.location_type === 'VENUE' && this.eventAddress && !loading) {
    <div class="py-4 px-4 mx-auto max-w-2xl">
        <app-address-form [eventAddress]="eventAddress" [submitting]="submitting"
            (addressFrmData)="submitAddress($event)" (dismissed)="dismiss($event)">
        </app-address-form>
    </div>
    }

    @if(!loading && !errorMessage && event?.eventImageModel?.presignedUrl) {
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update event image</h2>
        <app-image-form [eventImage]="event?.eventImageModel" [submitting]="submitting" (dismissed)="dismiss($event)"
            (submitted)="submitPresignedImage($event)"></app-image-form>
    </div>
    }

</section>